<% var formLabel = ["氏名", "メールアドレス", "件名", "お問い合わせ内容"]; %>
<% var entryName = ["entry.2005620554", "entry.1045781291", "entry.1062944632", "entry.839337160"]; %>
<% var formExample = ["例) 山田 太郎", "例) contact@xxx.com", "例）xxxについて", ""]; %>
<% var menuItem = ["Top", "About", "Works", "Contact"]; %>
  <footer class="l-footer">
    <div class="c-footer-sns">
      <a href="https://twitter.com/pesso_2260" class="c-footer-sns__twitter"><i class="fab fa-twitter c-icon-sns"></i></a></i>
      <a href="https://github.com/pesso-yampee" class="c-footer-sns__github"><i class="fab fa-github c-icon-sns"></i></a>
    </div>
    <p class="c-footer-copyright"><small>©2021 Junpei Yamasaki</small></p>
    <ul class="c-footer-list u-hidden-pc jsi-footer">
      <% for (var i = 0; i < menuItem.length; i++) { %>
      <li class="c-footer-list__item">
        <a href="#<%= menuItem[i] %>"><%= menuItem[i] %></a>
      </li>
      <% } %>
    </ul>
  </footer>
</div><!-- /.l-wrap -->
</body>
</html>