<% var menuItem = ["Top", "About", "Works", "Contact"]; %>
<div class="l-header jsi-header">
  <div class="c-header-container">
    <h1 class="c-header-container__name">Junpei Yamasaki</h1>
    <ul class="c-header-container__list u-hidden-sp">
      <% for (var i = 0; i < menuItem.length; i++) { %>
        <li class="c-header-container__item">
          <a href="#<%= menuItem[i] %>"><%= menuItem[i] %></a>
        </li>
      <% } %>
    </ul>
  </div><!-- /.c-header-container -->
</div><!-- /.l-header -->