<% var title = "portfolio-site"; var description = "ポートフォリオサイト"; %>
<% include src/ejs/template/_head %>
<% var imgPath = "/assets/images/"; %>
<% include src/ejs/template/_header %>
<% var history = [
    {when: "2019/03", what: "龍谷大学 社会学部社会学科 卒業"},
    {when: "2019/04", what: "新卒でコールセンターに就職"},
    {when: "2020/04", what: "コールセンターを退職"},
    {when: "2020/05", what: "東京でSES事業を行っているベンチャー企業に転職"},
]; %>
<% var skill = ["HTML", "CSS", "JavaScript", "jQuery", "Sass", "node.js", "npm", "webpack", "babel"]; %>
<div class="l-main">
  <div class="p-top-container">
    <h1 class="p-top-mv__txt u-hidden-pc">Junpei Yamasaki<br>portfolio-site</h1>
    <div class="p-top-mv" id="Top"></div>
    <!-- 自己紹介エリア -->
    <section class="p-top-profile c-block">
      <h1 class="p-top-profile__ttl c-blockHeading__ttl" id="About">About</h1>
      <h2 class="c-blockHeading__ttl--sub">私について</h2>
      <div class="p-top-profile__cont">
        <p class="p-top-profile__img">
          <img src="<%= imgPath %>img-profile.jpg" alt="" loading="lazy">
        </p>
        <div class="p-top-profile__about">
          <p class="p-top-profile__about__name">山﨑 淳平</p>
          <p class="p-top-profile__about__birthday">1996年6月22日生まれ / 24歳</p>
          <dl class="p-top-profile__about__career">
            <% for (var i = 0; i < history.length; i++) { %>
              <dt class="p-top-profile__about__career--when"><%- history[i].when %></dt>
              <dd class="p-top-profile__about__career--what"><%- history[i].what %></dd>
            <% } %>
          </dl>
        </div><!-- /.p-top-profile__about -->
      </div><!-- /.p-top-profile__cont -->
    </section>
  </div><!-- /.p-top-container -->
  <!-- 作品紹介エリア -->
  <section class="p-top-works c-block">
    <h1 class="p-top-works__ttl c-blockHeading__ttl" id="Works">Works</h1>
    <h2 class="c-blockHeading__ttl--sub">これまでの実績</h2>
    <div class="p-top-works__inner">
      <ul class="p-top-works__inner__list">
        <% for (var i = 0; i < 6; i++) { %>
        <li class="p-top-works__inner__item jsi-elem-hover">
          <a href="#"></a>
          <p class="c-mask jsc-elem-slide">
            テキストが入ります。テキストが入ります。テキストが入ります。<br>
            テキストが入ります。テキストが入ります。テキストが入ります。<br>
            テキストが入ります。テキストが入ります。テキストが入ります。<br>
            テキストが入ります。テキストが入ります。テキストが入ります。<br>
          </p>
        </li>
        <% } %>
      </ul>
    </div>
  </section>
</div>
<% include src/ejs/template/_footer %>
