<% var title = "portfolio-site"; var description = "ポートフォリオサイト"; %>
<% include src/ejs/template/_head %>
<% var imgPath = "/assets/images/"; %>
<% include src/ejs/template/_header %>
<% var history = [
{when: "2019/03", what: "龍谷大学 社会学部社会学科 卒業"},
{when: "2019/04", what: "新卒でコールセンターに就職"},
{when: "2020/04", what: "コールセンターを退職"},
{when: "2020/05", what: "東京でSES事業を行っているベンチャー企業に転職"},
]; %>
<% var skill = ["HTML", "CSS", "JavaScript", "jQuery", "Sass", "node.js", "npm", "webpack", "babel"]; %>
<% var workItemSentence = ['Pesoblog', 'mm']; %>

<div class="l-main">
  <div class="p-top-container">
    <h1 class="p-top-mv__txt u-hidden-pc">Junpei Yamasaki<br>portfolio-site</h1>
    <div class="p-top-mv" id="Top"></div>
    <!-- 自己紹介エリア -->
    <section class="p-top-profile c-block">
      <h1 class="p-top-profile__ttl c-blockHeading__ttl" id="About">About</h1>
      <h2 class="c-blockHeading__ttl--sub">私について</h2>
      <div class="p-top-profile__cont">
        <p class="p-top-profile__img">
        <img src="<%= imgPath %>img-profile.jpg" alt="" loading="lazy">
        </p>
        <div class="p-top-profile__about">
          <p class="p-top-profile__about__name">山﨑 淳平</p>
          <p class="p-top-profile__about__birthday">1996年6月22日生まれ / 24歳</p>
          <dl class="p-top-profile__about__career">
            <% for (var i = 0; i < history.length; i++) { %>
            <dt class="p-top-profile__about__career--when"><%- history[i].when %></dt>
            <dd class="p-top-profile__about__career--what"><%- history[i].what %></dd>
          <% } %>
          </dl>
          <p class="p-top-profile__about">
            光回線や通信機器を利用する既存顧客に対して新商品の提案営業を担当していました。<br>
            最初はなかなかうまくいかず、一日の営業実績が0件の時も多々ありました。<br>
            この状況を打破するために意識したことは以下の2つです。<br><br>
            ・プライドを捨てて営業成績が優秀な方を真似ること<br>
            ・お客様の言葉にしっかりと耳を傾けること<br><br>
            まず一つ目の項目から説明しますと、なかなかうまくいかない時は台本の内容をただ読み上げたり、言葉に感情が乗っていなかったりしていました。そこで営業成績の良い方が話すスピードやトーン、使っている言葉などを徹底的に真似しました。これによりお客様と対話できる時間や内容も増やすことができました。<br>
            2つ目の項目を説明しますと、お客様から質問を頂いた時に求めているもの以上の内容を話すことが多く、逆に困惑させてしまうことが多くありました。そこで求めている内容にしっかりと耳を傾け、端的に伝えることを意識することでスムーズに対話することができるようになりました。<br>
            以上の2点を継続して意識することで約50名ほどいる営業社員の中で2019年下半期ランキングで<span class="c-emphasis">第2位を受賞</span>することができました。<br>
            このようなことから私は<span class="c-emphasis">粘り強く取り組める力</span>や<span class="c-emphasis">コミュニケーション能力</span>を身につけることができました。
          </p>
        </div><!-- /.p-top-profile__about -->
      </div><!-- /.p-top-profile__cont -->
    </section>
  </div><!-- /.p-top-container -->

  <!-- 作品紹介エリア -->
  <section class="p-top-works c-block">
    <h1 class="p-top-works__ttl c-blockHeading__ttl" id="Works">Works</h1>
    <h2 class="c-blockHeading__ttl--sub">これまでの実績</h2>
    <div class="p-top-works__inner">
      <ul class="p-top-worksList">
        <li class="p-top-worksList__item">
          <h2 class="p-top-worksList__item__title">ファッションサイト</h2>
          <div class="p-top-worksList__item__container">
            <video autoplay muted playsinline controls src="/assets/videos/mv_ninco.mp4"></video>
            <ul class="p-top-worksList__item__summaryList">
              <li class="p-top-worksList__item__summaryList__item">
                <p class="p-top-worksList__item__summaryList__item__info">■ アプリの概要</p>
                <ul>
                  <li>ファッションアイテムを販売するアプリ</li>
                  <li>カテゴリー別で商品を検索することが可能</li>
                  <li>お気に入り機能やレビュー機能を搭載</li>
                </ul>
              </li>
              <li class="p-top-worksList__item__summaryList__item">
                <p class="p-top-worksList__item__summaryList__item__info">■ ソースコード</p>
                <p>Github(<a class="c-link" href=“https://github.com/pesso-yampee/fashion-site__ninco”>fashion-site__ninco</a>)</p>
                <p>起動ファイルはpublicフォルダ内の「index.html」となっております。</p>
              </li>
              <li class="p-top-worksList__item__summaryList__item">
                <p class="p-top-worksList__item__summaryList__item__info">■ こだわりポイント</p>
                <ul>
                  <li>JavaScript、jQuery学習時に作成したファッションサイト（模写）</li>
                  <li>slick.jsを使用したスライド機能の実装</li>
                  <li>elevatezoom.jsを使用し、画像の一部をズームさせて拡大表示させる機能を実装</li>
                  <li>jQueryでフェイドイン・フェイドアウト機能を実装</li>
                  <li>星の数で商品のレビューを表現</li>
                  <li>カートに商品が追加されると、商品数が出るように設定</li>
                  <li>ベースコーディングやレスポンシブ対応、フェイド機能に関しては自力で構築</li>
                </ul>
              </li>
              <li class="p-top-worksList__item__summaryList__item">
                <p class="p-top-worksList__item__summaryList__item__info">■ リンク先</p>
                <a class="c-link" href="https://fashion-site-ninco.vercel.app/">動画の詳細はコチラ</a>
              </li>
              <li class="p-top-worksList__item__summaryList__item">
                <p class="p-top-worksList__item__summaryList__item__info">■ 補足</p>
                <p class="p-top-worksList__item__summaryList__item__supplement">忍者CODE(<a class="c-link" href="https://twitter.com/ninjacodeee">@ninjacodeee</a>)様の有料コンテンツ「鳳凰の間」を模写した内容となっております。</p>
              </li>
            </ul>
          </div>
        </li>
        <li class="p-top-worksList__item">
          <h2 class="p-top-worksList__item__title">pesoblog</h2>
          <div class="p-top-worksList__item__container">
            <a class="p-top-worksList__item__thumbnail c-link" href="https://pesoblog.net">
              <img src="<%= imgPath %>img-pesoblog.png" alt="pesoblog">
            </a>
            <ul class="p-top-worksList__item__summaryList">
              <li class="p-top-worksList__item__summaryList__item">
                <p class="p-top-worksList__item__summaryList__item__info">■ アプリの概要</p>
                <ul>
                  <li>初めて作成したWordPressの自作テーマ</li>
                  <li>ブログデザインから作成</li>
                  <li>記事追加、アイキャッチ画像の表示、お問い合わせ機能、目次、検索機能等、一般的な機能は実装</li>
                </ul>
              </li>
              <li class="p-top-worksList__item__summaryList__item">
                <p class="p-top-worksList__item__summaryList__item__info">■ こだわりポイント</p>
                <ul>
                  <li>WordPressのコード作成のため、PHPの基礎を一通り学習</li>
                  <li>レスポンシブ対応</li>
                </ul>
              </li>
              <li class="p-top-worksList__item__summaryList__item">
                <p class="p-top-worksList__item__summaryList__item__info">■ リンク先</p>
                <a class="c-link" href="https://pesoblog.net/">ブログの詳細はコチラ</a>
              </li>
            </ul><!-- /.p-top-worksList__item__summaryList -->
          </div>
        </li>
      </ul><!-- /.p-top-worksList -->
    </div>
  </section>
</div>
<% include src/ejs/template/_footer %>