<% var title = "portfolio-site"; var description = "ポートフォリオサイト"; %>
<% include src/ejs/template/_head %>
<% var imgPath = "/assets/images/"; %>
<% include src/ejs/template/_header %>
<% var history = [
    {when: "2019/03", what: "龍谷大学 社会学部社会学科 卒業"},
    {when: "2019/04", what: "新卒でコールセンターに就職"},
    {when: "2020/04", what: "コールセンターを退職"},
    {when: "2020/05", what: "東京でSES事業を行っているベンチャー企業に転職"},
]; %>
<% var skill = ["HTML", "CSS", "JavaScript", "jQuery", "Sass", "node.js", "npm", "webpack", "babel"]; %>
<% var workItemSentence = ['Pesoblog', 'mm']; %>
<div class="l-main">
  <div class="p-top-container">
    <h1 class="p-top-mv__txt u-hidden-pc">Junpei Yamasaki<br>portfolio-site</h1>
    <div class="p-top-mv" id="Top"></div>
    <!-- 自己紹介エリア -->
    <section class="p-top-profile c-block">
      <h1 class="p-top-profile__ttl c-blockHeading__ttl" id="About">About</h1>
      <h2 class="c-blockHeading__ttl--sub">私について</h2>
      <div class="p-top-profile__cont">
        <p class="p-top-profile__img">
          <img src="<%= imgPath %>img-profile.jpg" alt="" loading="lazy">
        </p>
        <div class="p-top-profile__about">
          <p class="p-top-profile__about__name">山﨑 淳平</p>
          <p class="p-top-profile__about__birthday">1996年6月22日生まれ / 24歳</p>
          <dl class="p-top-profile__about__career">
            <% for (var i = 0; i < history.length; i++) { %>
              <dt class="p-top-profile__about__career--when"><%- history[i].when %></dt>
              <dd class="p-top-profile__about__career--what"><%- history[i].what %></dd>
            <% } %>
          </dl>
        </div><!-- /.p-top-profile__about -->
      </div><!-- /.p-top-profile__cont -->
    </section>
  </div><!-- /.p-top-container -->
  <!-- 作品紹介エリア -->
  <section class="p-top-works c-block">
    <h1 class="p-top-works__ttl c-blockHeading__ttl" id="Works">Works</h1>
    <h2 class="c-blockHeading__ttl--sub">これまでの実績</h2>
    <div class="p-top-works__inner">
      <ul class="p-top-worksList">
        <li class="p-top-worksList__item">
          <h2 class="p-top-worksList__item__title">ファッションサイト</h2>
          <div class="p-top-worksList__item__container">
            <video autoplay muted playsinline controls src="/assets/videos/mv_ninco.mp4"></video>
            <ul class="p-top-worksList__item__summaryList">
              <li class="p-top-worksList__item__summaryList__item">
                <p class="p-top-worksList__item__summaryList__item__info">■ アプリの概要</p>
                <ul>
                  <li>ファッションアイテムを販売するアプリ</li>
                  <li>カテゴリー別で商品を検索することが可能</li>
                  <li>お気に入り機能やレビュー機能を搭載</li>
                </ul>
              </li>
              <li class="p-top-worksList__item__summaryList__item">
                <p class="p-top-worksList__item__summaryList__item__info">■ ソースコード</p>
                <p>Github(<a class="c-link" href=“https://github.com/pesso-yampee/fashion-site__ninco”>fashion-site__ninco</a>)</p>
                <p>起動ファイルはpublicフォルダ内の「index.html」となっております。</p>
              </li>
              <li class="p-top-worksList__item__summaryList__item">
                <p class="p-top-worksList__item__summaryList__item__info">■ こだわりポイント</p>
                <ul>
                  <li>JavaScript、jQuery学習時に作成したファッションサイト（模写）</li>
                  <li>slick.jsを使用したスライド機能の実装</li>
                  <li>elevatezoom.jsを使用し、画像の一部をズームさせて拡大表示させる機能を実装</li>
                  <li>jQueryでフェイドイン・フェイドアウト機能を実装</li>
                  <li>星の数で商品のレビューを表現</li>
                  <li>カートに商品が追加されると、商品数が出るように設定</li>
                  <li>ベースコーディングやレスポンシブ対応、フェイド機能に関しては自力で構築</li>
                </ul>
              </li>
              <li class="p-top-worksList__item__summaryList__item">
                <p class="p-top-worksList__item__summaryList__item__info">■ リンク先</p>
                <a class="c-link" href="https://fashion-site-ninco.vercel.app/">動画の詳細はコチラ</a>
              </li>
              <li class="p-top-worksList__item__summaryList__item">
                <p class="p-top-worksList__item__summaryList__item__info">■ 補足</p>
                <p class="p-top-worksList__item__summaryList__item__supplement">忍者CODE(<a class="c-link" href="https://twitter.com/ninjacodeee">@ninjacodeee</a>)様の有料コンテンツ「鳳凰の間」を模写した内容となっております。</p>
              </li>
            </ul>
          </div>
        </li>
        <li class="p-top-worksList__item">
          <h2 class="p-top-worksList__item__title">pesoblog</h2>
          <div class="p-top-worksList__item__container">
            <a class="p-top-worksList__item__thumbnail c-link" href="https://pesoblog.net">
              <img src="<%= imgPath %>img-pesoblog.png" alt="pesoblog">
            </a>
            <ul class="p-top-worksList__item__summaryList">
              <li class="p-top-worksList__item__summaryList__item">
                <p class="p-top-worksList__item__summaryList__item__info">■ アプリの概要</p>
                <ul>
                  <li>初めて作成したWordPressの自作テーマ</li>
                  <li>ブログデザインから作成</li>
                  <li>記事追加、アイキャッチ画像の表示、お問い合わせ機能、目次、検索機能等、一般的な機能は実装</li>
                </ul>
              </li>
              <li class="p-top-worksList__item__summaryList__item">
                <p class="p-top-worksList__item__summaryList__item__info">■ こだわりポイント</p>
                <ul>
                  <li>WordPressのコード作成のため、PHPの基礎を一通り学習</li>
                  <li>レスポンシブ対応</li>
                </ul>
              </li>
              <li class="p-top-worksList__item__summaryList__item">
                <p class="p-top-worksList__item__summaryList__item__info">■ リンク先</p>
                <a class="c-link" href="https://pesoblog.net/">ブログの詳細はコチラ</a>
              </li>
            </ul><!-- /.p-top-worksList__item__summaryList -->
          </div>
        </li>
      </ul>
    </div>
  </section>
</div>
<% include src/ejs/template/_footer %>
