/*
p-top-container
------------------------------- */
.p-top-container {
  @include mq("o-sp") {
    width: 80%;
    margin: 0 auto;
  }
}

/* container__mv */
.p-top-mv__txt {
  display: block;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 50px;
  color: $colorWhite;
  font-family: "Comic Sans MS";
  content: "";

  &::first-letter {
    font-size: 40px;
    margin-right: -5px;
  }

  &::first-line {
    text-indent: -40px;
  }
}

.p-top-mv {
  position: relative;
  width: 100%;
  height: 700px;
  margin: 0 auto 100px;
  background: url(#{$bgPath}img-mv.jpg) no-repeat 50% 60% / cover;

  @include mq("u-sp") {
    width: 100vw;
    height: 300px;
    margin: 0 0 40px;
    background: url(#{$bgPath}img-mv.jpg) no-repeat center/cover;
  }
}

/* container__profile */
.p-top-profile {
  margin-bottom: 100px;
}

.p-top-profile__container {
  display: flex;
  justify-content: center;
  margin: 0 auto;

  @include mq("u-sp") {
    flex-direction: column;
    align-items: center;
  }
}

.p-top-profile__image {
  width: 75%;
  margin-right: 50px;

  @include mq("u-sp") {
    margin: 0 0 30px;
  }
}

.p-top-profile__about {
  width: 100%;

  @include mq("u-sp") {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.p-top-profile__about__name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;

  @include mq("u-sp") {
    font-size: 18px;
  }
}

.p-top-profile__about__birthday {
  margin-bottom: 15px;

  @include mq("u-sp") {
    font-size: 14px;
  }
}

.p-top-profile__about__career {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;

  @include mq("u-sp") {
    font-size: 14px;
  }
}

.p-top-profile__about__career--when {
  width: 100px;
}

.p-top-profile__about__career--what {
  width: 75%;

  @include mq("u-sp") {
    width: 75%;
  }
}

.p-top-profile__about__sentense {
  margin-bottom: 30px;
}

// .p-top-profile__about__skill__heading {
//   display: inline-block;
//   width: 75%;
//   margin-bottom: 25px;
//   padding-bottom: 5px;
//   border-bottom: 1px solid;
//   font-size: 30px;

//   @include mq("u-sp") {
//     width: 100%;
//     text-align: center;
//   }
// }

// .p-top-profile__about__skillList {
//   display: flex;
//   flex-wrap: wrap;
//   width: 70%;
//   margin-left: -10px;

//   @include mq("u-sp") {
//     width: 100%;
//     margin-left: 0;
//   }
// }

// .p-top-profile__about__skillItem {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   width: calc(100% / 4);

//   @include mq("u-sp") {
//     width: calc(100% / 3);

//     &:nth-last-child(n + 4) {
//       margin-bottom: 20px;
//     }

//     &:not(:last-child) {
//       margin-right: 0;
//     }
//   }
// }

/*
p-top-works
------------------------------- */

.p-top-works {
  margin-bottom: 100px;
}

/* works__inner */
.p-top-works__inner {
  @include mq("o-sp") {
    width: 95%;
    margin: 0 auto;
  }
}

.p-top-worksList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  // @include mq("u-sp") {
  //   flex-direction: row;
  // }
}

.p-top-worksList__item {
  margin-bottom: 40px;

  @include mq("u-sp") {
    // width: 250px;
    // height: 250px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.p-top-worksList__item__title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
}

.p-top-worksList__item__container {
  display: flex;
  justify-content: center;
  align-items: center;

  @include mq('u-sp') {
    flex-direction: column;
  }
}

.p-top-worksList__item__container > video {
  width: 500px;
  height: auto;
  margin-right: 50px;

  @include mq('u-sp') {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.c-link {
  color: #337AB7;
  
  &:hover {
    color: #4773BA;
  }
}

.p-top-worksList__item__thumbnail {
  margin-right: 50px;
  transition: transform .3s, box-shadow .3s;

  &:hover {
    box-shadow: 8px 8px rgba($colorBlack, .8);
    transform: translate(-10px, -10px);
  }

  @include mq('u-sp') {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.p-top-worksList__item__thumbnail > img {
  width: 500px;
  height: auto;

  @include mq('u-sp') {
    width: 100%;
  }
}

.p-top-worksList__item__summaryList__item {
  margin-bottom: 20px;
}

/* 強調させたい部分 */
.c-emphasis {
  color: #ff0000;
}